.navbar-toggler[b-gquqerlbmc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gquqerlbmc] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gquqerlbmc] {
    font-size: 1.1rem;
}

.oi[b-gquqerlbmc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gquqerlbmc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gquqerlbmc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gquqerlbmc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gquqerlbmc]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gquqerlbmc]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gquqerlbmc]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/*---- CSS  do submenu lateral ----*/
.expand[b-gquqerlbmc] {
    background-image: linear-gradient(180deg, #001432 0%, #005ae6 100%);
    background-color: #001432; /*#ccccdd;*/
    border-radius: 6px;
}

.expand-nav-item[b-gquqerlbmc]  a {
    color: #000000;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .expand-nav-item[b-gquqerlbmc]  a.active {
        background-color: rgba(250,255,250,0.25);
        color: dodgerblue;
    }

    .expand-nav-item[b-gquqerlbmc]  a:hover {
        background-color: rgba(250,255,255,0.25);
        color: dodgerblue;
    }

@media (min-width: 641px) {
    .navbar-toggler[b-gquqerlbmc] {
        display: none;
    }

    .collapse[b-gquqerlbmc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-gquqerlbmc] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
