@page "/"

<PageTitle>Página Pricipal</PageTitle>

<div class="text-dark h2 p-2">
    Projeto para a criação de modelos
</div>
<div class="p-2" style="color:rgb(0,20,50);font-size:18px">
    <br /><p>
        No menu Amigos, está sendo implementado uma agenda de contatos para os amigos.<br/>
        Lá encontrará um menu para a listagem, inclusão e exclusão da agenda.
    </p>

</div>


@code {

}
